[submodule "SubliminalServer/WatsonWebsocketPlus"]
	path = SubliminalServer/WatsonWebsocketPlus
	url = https://github.com/Zekiah-A/WatsonWebsocketPlus.git
	branch = plus
[submodule "SubliminalServer/UnbloatDB"]
	path = SubliminalServer/UnbloatDB
	url = https://github.com/Zekiah-A/UnbloatDB.git
	branch = reference2
