.section-span {
    cursor: pointer;
    max-width: 20%;
    width: 20%;
    margin: 20px;
    transition: .2s font-weight, .2s margin, .2s max-width;
}

.section-body {
    /*border-radius: 10px;
    border-left: 2px solid grey;
    padding-left: 5px;*/
    transition: transform .5s, opacity .5s;
}

.section-collapsed {
    position: absolute;
    top: 34px;
    transform: translate(-50%, -50%);
    right: 16px;
    transform-origin: center;
    transition: .2s transform;
    border: 1px solid lightgray;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    background-color: var(--button-opaque);
    z-index: 2;
    cursor: pointer;
}

.section-collapsed > svg {
    fill: var(--text-colour);
    padding: 8px;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-gap: 10px;
}

.grid-sub-container {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    background-color: var(--panel-transparent);
    position: relative;
    transition: max-height .2s;
    max-height: 1000px;
    overflow: hidden;
}

.grid-sub-container[collapsed] {
    height: 64px;
    max-height: 64px;
    cursor: pointer;
}

.grid-sub-container[collapsed] > .section-span {
    max-width: 100%;
    width: 100%;
    font-weight: bold;
    position: absolute;
    margin: 14px;
    overflow: clip;
}

.grid-sub-container[collapsed] > .section-body {
    transform: translateX(110%);
    opacity: 0;
}

.grid-sub-container[collapsed] > .section-collapsed {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.seminars-centre {
    border-radius: 8px;
    height: 400px;
    background-color: var(--button-opaque);
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: linear-gradient(-90deg, #ee6352, #d16e8d);
    flex-grow: 1;
    flex-shrink: 0;
    transition: .2s box-shadow;
    margin: 0px;
}

.seminars-centre:hover {
    box-shadow: 0px 0px 6px 2px lightgrey;
}

.seminars-parent {
    margin-top: 16px;
    width: 100%;
    display: flex;
    column-gap: 16px;
}

.seminars-side {
    border-radius: 8px;
    height: 400px;
    background-color: var(--button-opaque);
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex-shrink: 2;
    flex-basis: 20%;
    margin: 0px;
}

.seminars-parent-mobile {
    margin-top: 16px;
    width: 100%;
    display: none;
    column-gap: 16px;
    flex-direction: column;
    box-sizing: border-box;
}

.seminars-side-parent-mobile {
    display: flex;
    column-gap: 8px;
    padding-top: 8px;
    box-sizing: border-box;
}

.seminars-side-mobile {
    border-radius: 8px;
    height: 280px;
    background-color: var(--button-opaque);
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex: 50%;
}

.poem-preview {
    display: none;
    position: fixed;
    left: 20px;
    top: 200px;
    width: 250px;
    height: 400px;
    border: 2px solid grey;
    border-radius: 2px;
    background: white;
}

.poem-preview > iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/*Purgatory flex CSS*/
#purgatoryFlex {
    display: flex;
    max-width: 100%;
    padding: 8px;
    flex-direction: row;
    column-gap: 16px;
    overflow-x: auto;
    user-select: none;
    overflow-y: hidden;
    height: min-content;
    max-height: 80vh;
    box-sizing: border-box;
}

#purgatoryGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 16px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    height: min-content;
    max-height: 80vh;
    box-sizing: border-box;
}

.purgatory-warning {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.purgatory-warning > span {
    align-self: center;
    background: var(--button-transparent);
    padding: 8px;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.purgatory-actions-bottom {
    display: flex;
}

#filtersBar {
    display: flex;
    justify-content: center;
    column-gap: 4px;
    margin: 8px;
}

#filtersBar > button {
    border-radius: 32px;
    padding: 1px;
    position: relative;
}

#filtersBar > button > div {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--button-transparent);
    border-radius: 32px;
    user-select: none;
    pointer-events: none;
}

.signup-code-hidden {
    background: gray;
    border-radius: 4px;
    color: gray;
    cursor: pointer;
    transition: .2s all;
}

.searchbar {
    color: var(--text-colour);
    background-color: #ffffff33;
    backdrop-filter: blur(10px);
    z-index: 1;
    border: 1px solid gray;
    border-radius: 4px;
    padding-left: 8px;
}

.classics-header {
    top: 78px;
    display: flex;
    column-gap: 8px;
    position: sticky;
    line-height: 40px;
    z-index: 3;
    margin: 0;
    padding: 0px;
    transition: .2s background-color, .2s margin, .2s padding, .2s border;
}

.classics-header.stuck {
    border: 1px solid gray;
    padding: 8px;
    margin: -8px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

.classics-header.stuck > .searchbar {
    border-radius: 8px 0 0 8px;
}

@media screen and (orientation:portrait) {
    .grid-container {
        grid-template-columns: auto;
    }

    .searchbar {
        height: 48px;
        flex-grow: 1;
    }

    .classics-header {
        top: 64px;
    }

    .grid-sub-container {
        flex-direction: column;
    }

    .section-span {
        max-width: 100%;
        width: 100%;
    }

    #purgatoryGrid {
        grid-template-columns: auto auto;  
    }
    
    .purgatory-actions-bottom {
        justify-content: end;
    }

    .seminars-parent-mobile {
        display: flex;
    }

    .seminars-parent {
        display: none;
    }
}

@media screen and (orientation:landscape) {
    .searchbar {
        width: 50%;
        line-height: 300%;
        top: 2px;
        z-index: 1;
        flex-grow: 1;
    }
}
