.centre {
    text-align: center;
}

.div-centre {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.poem-centre {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 10px;
}

.poem-centre-wide {
    margin-left: 40%;
    width: 60%;
    padding: 10px;
}

.back {
    position: fixed;
    bottom: 10px;
    left: 10px;
}