body {
    margin: 0px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
hr {
    margin: 8px;
}
/*Header bar*/
.title-blur {
    position: relative;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    padding-top: 20px;
    backdrop-filter: blur(5px);
    background: transparent;
}


.centre {
    text-align: center;
    overflow-wrap: break-word;
}

.warning-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-family: monospace;
}

.warning-centre a {
    font-size: x-large ;
    font-family: monospace !important;
}

.back {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.edit {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.4;
}

.previous {
    position: fixed;
    bottom: 10px;
    left: 50%;
}

.next {
    position: fixed;
    bottom: 10px;
    right: 40%;
}

.external-link {
    font-size: small;
}

h2 {
    margin-top: 0px;
}

/*Site-Wide font*/
p, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

.comment-date {
    position: absolute;
    top: 0px;
    right: 2px;
}

.one-line-poem-name {
    color: gray;
    font-size: 10px;
}

#content-warning {
    position: fixed;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    content: center;
    visibility: visible;
}

#content-warning:target {
    visibility: hidden;
}

/*Dark Mode Optimisations*/
@media(prefers-color-scheme: dark) {
    body {
        background: rgb(30, 30, 30);
        color: #DADADA;
    }

    #content-warning {
        background:rgba(30, 30, 30, 0.2) !important;
    }

    a:link {
        color: lightblue;
    }

    a:visited {
    color: purple;
    }

    .searchbar {
        color: #DADADA;
        background-color: rgba(255, 255, 255, .20);
        backdrop-filter: blur(10px);
        z-index: 1;
    }
}

/*Mobile and thin screen optimisations*/
@media screen and (orientation:portrait) {
    .searchbar {
        position: fixed;
        width: calc(100% - 40px);
        padding-left: 10px;
        padding-right: 10px;
        line-height: 40px;
        top: 10px;
        z-index: 1;
    }

    .poem-centre {
        margin-left: 0px;
        margin-right: 0px;
        max-width: calc(100% - 40px);
        padding: 20px;
        overflow-wrap: break-word;
    }
    
    .poem-centre-wide {
        margin-left: 0px;
        margin-right: 0px;
        max-width: calc(100% - 10px);
        padding: 5px;
        overflow-wrap: break-word;
    }

    .contents-div-centre {
        margin: auto;
        width: 100%;
        padding: 10px;
    }

    .comment {
        position: relative;
        border: 1px solid black;
        margin-top: 15px;
        width: 100%;
    }
    
    .div-centre {
      margin: auto;
      width: 100%;
      padding: 10px;
    }

    .warning-centre {
        font-size: 2.6vw !important;
    }
    
    .warning-centre a {
        font-size: 1em;
    }
}

@media screen and (orientation:landscape) {
    .poem-centre {
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        padding: 10px;
    }
    
    .poem-centre-wide {
        margin-left: 30%;
        width: 60%;
        padding: 10px;
    }

    .searchbar {
        position: sticky;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        line-height: 200%;
        top: 2px;
        z-index: 1;
    }

    .contents-div-centre {
        margin: auto;
        width: 60%;
        padding: 10px;
    }

    .comment {
      position: relative;
      border: 1px solid black;
      margin-top: 15px;
      min-width: 300px;
      width: 50%;
    }
    
    .div-centre {
      margin: auto;
      width: 50%;
      padding: 10px;
    }
}
