:root {
    --button-opaque: #f2f2f2;
    --button-transparent: #f2f2f2b8;
    --panel-transparent: #f2f2f240;
    --background-opaque: #ffffff;
    --background-transparent: #ffffff33;
    --text-colour: black;
}

@media(prefers-color-scheme: dark) {
    :root {
        --button-opaque: #373737;
        --button-transparent: #373737b8;
        --panel-transparent: #37373740;
        --background-opaque: #1e1e1e;
        --background-transparent: #1e1e1e33;
        --text-colour: #DADADA;
    }    
}

body {
    margin: 0px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

hr {
    margin: 8px;
}

button, input[type="button"] {
    background-color: var(--button-opaque);
    color: var(--text-colour);
    border: 1px solid #8f8f9d;
    border-radius: 4px;
}

button:hover, input[type="button"]:hover {
    background-color: #85859269;
}

button[disabled], input[disabled] {
    background-color: #d2d2d3c9;
    pointer-events: none;
}

/*Main page navigation header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    backdrop-filter: blur(5px);
    background: transparent;
    z-index: 3;
}

header > div {
    display: flex;
    column-gap: 16px;
    margin: 2px;
    margin-left: 16px;
    margin-right: 16px;
    height: 64px;
}

header p {
    text-align: end;
    margin: 0px;
    font-style: italic;
    opacity: 0.6;
    line-height: 64px;
    white-space: nowrap;
}

header a {
    align-self: center;
    white-space: nowrap;
    /*Click hitboxes*/
    padding-top: 24px;
    padding-bottom: 24px;
}

header img {
    align-self: center;
    cursor: pointer;
    transition: .2s transform;
}

header img:hover {
    transform: rotate(10deg) scale(1.5);
}
header img:active {
    transform: rotate(8deg) scale(1.1);
}

header custom {
    flex-grow: 1;
}

#headerFrame {
    width: 100%;
    height: 100%;
    border: none;
    position: fixed;
    pointer-events: none;
}

/*Header bar*/
.title-blur {
    position: relative;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    padding-top: 20px;
    backdrop-filter: blur(5px);
    background: transparent;
}


.centre {
    text-align: center;
    overflow-wrap: break-word;
}

.warning-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-family: monospace;
}

.warning-centre a {
    font-size: x-large ;
    font-family: monospace !important;
}

.back {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.edit {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.4;
    cursor: pointer;
}

.previous {
    position: fixed;
    bottom: 10px;
    left: 50%;
}

.next {
    position: fixed;
    bottom: 10px;
    right: 40%;
}

.external-link {
    font-size: small;
}

h2 {
    margin-top: 0px;
}

/*Site-Wide font*/
p, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

.comment-date {
    position: absolute;
    top: 0px;
    right: 2px;
}

.one-line-poem-name {
    color: gray;
    font-size: 10px;
}

#contentWarning {
    position: fixed;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:#ffffff33;
    backdrop-filter: blur(15px);
    content: center;
    visibility: visible;
}

#contentWarning:target {
    visibility: hidden;
}

/* TODO: Move license agree + login / license agree buttons + login buttons to this style. */
.popup {
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    border-radius:8px;
    padding:8px;
    box-shadow:0 0 16px #000;
    z-index:3;
    backdrop-filter:blur(16px);
    width: 50%;
}

.popup-button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius:4px;
    padding:8px;
    text-align:center;
    cursor:pointer;
    background-color: var(--button-opaque);
    flex-grow: 1;
}

.popup-input {
    width:calc(100% - 8px);
    display:block;
    line-height:200%;
}

.button-tooltip {
    opacity: 0;
    position: absolute;
    background-color: var(--button-opaque);
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px black;
    left: calc(-100% - 16px);
    width: 100%;
    z-index: 1;
    top: 0px;
    transition: opacity 0.5s;
    pointer-events: none;
}

.button-tooltip:hover {
    opacity: 1;
}

.profile-title {
    font-family:Arial,Helvetica,sans-serif;
    font-size:42px;
    margin-top:0;
    margin-bottom:0;
    white-space:pre;
    display: inline;
}
.profile-container {
    display:flex;
    column-gap:16px;
}
.poem-card {
    width:calc(100% - 32px);
    height:64px;
    background:var(--button-opaque);
    border-radius:8px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}
.poem-preview {
    position: relative;
    margin: 0px;
    padding: 8px;
    overflow: hidden;
}
.poem-preview::after {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(var(--button-opaque), transparent, var(--button-opaque));
    content: '';
    display: inline;			
}
.profile-badge {
    background: linear-gradient(white, #f9f3f3);
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 100%;
    border: 1px solid grey;
    text-align: center;
    line-height: 32px;
    position: relative;
}
.profile-badge:hover .button-tooltip {
    pointer-events: all;
    opacity: 1;
}

.button-tooltip {
    left: calc(-100% - 184px) !important;
    width: 200px !important;
}

#profileAvatar {
    border-radius:4px;
    cursor: pointer;
}
#profileBadges {
    width: 100%;
    height: 32px;
    margin: 8px;
    display: flex;
    column-gap: 8px;
}

.following-card {
    width: 100%;
    height: 96px;
    background-color: var(--button-opaque);
    border-radius: 8px;
    display: flex;
    column-gap: 8px;
    cursor: pointer;
}

.following-card > img {
    width: 96px;
    height: 96px;
    border-radius: 8px 0px 0px 8px;
}
.following-card > div {
    align-self: center;
    user-select: none;
}
.following-card h4 {
    margin: 0px;
}
.following-card p {
    max-height: 32px;
}

/*Dark Mode Optimisations*/
@media(prefers-color-scheme: dark) {
    body {
        background: #1e1e1e;
        color: var(--text-colour);
    }

    #contentWarning {
        background:#1e1e1e33;
    }

    a:link {
        color: lightblue;
    }

    a:visited {
        color: #bbb8b8;
    }

    .searchbar {
        color: var(--text-colour);
        background-color: #ffffff33;
        backdrop-filter: blur(10px);
        z-index: 1;
        border: 1px solid gray;
    }
}

/*Mobile and thin screen optimisations*/
@media screen and (orientation:portrait) {
    header p {
        display: none;
    }

    header h1 {
        display: none;
    }

    header img {
        width: 48px;
        height: 48px;
    }

    header a {
        font-size: 4vw;
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;
        /*Click hitboxes*/
        padding-top: 16px;
        padding-bottom: 16px;
    }

    header > div {
        margin-left: 8px;
        margin-right: 8px;
        height: 48px;
        column-gap: 4px;
    }

    .searchbar {
        position: fixed;
        width: calc(100% - 40px);
        padding-left: 10px;
        padding-right: 10px;
        line-height: 40px;
        top: 10px;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
    }

    .poem-centre {
        margin-left: 0px;
        margin-right: 0px;
        max-width: calc(100% - 40px);
        padding: 20px;
        overflow-wrap: break-word;
    }
    
    .poem-centre-wide {
        margin-left: 0px;
        margin-right: 0px;
        max-width: calc(100% - 10px);
        padding: 5px;
        overflow-wrap: break-word;
    }

    .contents-div-centre {
        margin: 0px;
        width: calc(100% - 20px);
        padding: 10px;
    }

    .comment {
        position: relative;
        border: 1px solid black;
        margin-top: 15px;
        width: 100%;
    }
    
    .div-centre {
      margin: auto;
      width: calc(100% - 20px);
      padding: 10px;
    }

    .warning-centre {
        font-size: 2.8vw !important;
    }
    
    .warning-centre a {
        font-size: 1em;
    }

    .popup {
        width: calc(100% - 32px) !important;
        height: calc(100% - 32px);
        transform: translate(-50% -50%) !important;
        overflow-y: scroll !important;
    }

    .profile-container {
        flex-direction: column-reverse;
    }    
}

@media screen and (orientation:landscape) {
    .poem-centre {
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        padding: 10px;
    }
    
    .poem-centre-wide {
        margin-left: 30%;
        width: 60%;
        padding: 10px;
    }

    .searchbar {
        /*position: sticky;
        left: 50%;
        transform: translateX(-50%);*/
        width: 50%;
        line-height: 200%;
        top: 2px;
        z-index: 1;
        flex-grow: 1;
    }

    .contents-div-centre {
        margin: auto;
        width: 60%;
        padding: 10px;
    }

    .comment {
      position: relative;
      border: 1px solid black;
      margin-top: 15px;
      min-width: 300px;
      width: 50%;
    }
    
    .div-centre {
      margin: auto;
      width: 50%;
      padding: 10px;
    }
}
